header{
    background: url("../images/hero.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.navbar-section{
    font-size: 1.5rem;
    padding: 1em;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo{
        text-transform: uppercase;
        font-weight: 800;
        flex: 1;
        font-size: 2.5rem;
    }
    .navbar-links{
        display: flex;
        gap: 3.5em;
        color: black;
        a{
            color: black;
        }
    }
    .hamburger{
        display: none;
    }
}

.navbar-section-active{
  background: $green-color;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1;
}

.header-content{
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .header-title{
        h1{
            font-size: 10rem;
            color: $green-color;
            margin-bottom: -.35em;
        }
        h2{
            font-size: 8rem;
            font-weight: 600;
            margin-left: 1.5em;
        }
    }
    .header-tag{
        margin-right: -5em;
        background: $green-color;
        font-size: 1.5rem;
        padding: 1.5em;
        color: white;
        border-radius:  75px;
    }
    .header-socials{
        color: black;
        font-size: 5rem;
        margin-left: 5em;
    }
}




/*Hamburger Menu*/
@media screen and (max-width: 40em) {
    /*Burger Menu*/
    .burger {
      position: relative;
      z-index: 2;
      display: block;
      cursor: pointer;
    }
  
    .burger span {
      padding: 0.2rem 2rem;
      background: #fff;
      margin: 0.5rem;
      display: block;
      transition: all 0.5s ease;
    }
  
    .navbar-links a {
      color: #fff;
      text-decoration: underline;
      font-size: 1.5rem;
    }
    .navbar-links {
      z-index: 2;
      background: $green-color;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      transition: transform 1s ease;
    }
    .nav-open {
      transform: translate(-100%);
    }
  
    .toggle .line1 {
      transform: rotateZ(45deg) translateY(300%);
      background-color: white;
    }
  
    .toggle .line3 {
      transform: rotateZ(-45deg) translateY(-300%);
      background-color: white;
    }
    .toggle .line2 {
      opacity: 0;
    }
  }