header{
    background: url("../images/hero.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.navbar-section{
    font-size: 1.5rem;
    padding: 1em;
    display: flex;
    z-index: 999;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .logo{
        text-transform: uppercase;
        font-weight: 800;
        flex: 1;
        font-size: 2.5rem;
    }
    .navbar-links{
        display: flex;
        gap: 3.5em;
        color: black;
        a{
            color: black;
        }
    }
    .hamburger{
        display: none;
    }
}

.navbar-section-active{
  background: $green-color;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  z-index: 1;
}

.header-content{
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    .header-title{
        h1{
            font-size: 10rem;
            color: $green-color;
            margin-bottom: -.35em;
        }
        h2{
            font-size: 8rem;
            font-weight: 600;
            margin-left: 1.5em;
        }
    }
    .header-tag{
        margin-right: -5em;
        background: $green-color;
        font-size: 1.5rem;
        padding: 1.5em;
        color: white;
        border-radius:  75px;
    }
    .header-socials{
        color: black;
        font-size: 5rem;
        margin-left: 5em;
    }
}




