/*Navbar*/
header{
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
}

.scrolling-active{
    background: var(--green-color);
    box-shadow: box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .nav-links a:hover{
    color: var(--white-color);
    transition: all 0.3s ease;
}

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 90%;
}

.nav-logo{
    flex: 2 1 10rem;
}

.nav-links{
    display: flex;
}

.nav-links a{
    color: black;
    margin-inline: 25px;
}

.nav-links a:hover{
    color: var(--green-color);
    transition: all 0.3s ease;
}

/*Hero*/
#hero-section{
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(223, 249, 229, 0.3), rgba(223, 249, 229, 0.3)),url("../images/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hero-section-text{
    position: absolute;
    left: 60%;
    top: 25%;
}

h1{
    font-size: 15rem;
}

.tag{
    font-size: 10rem;
    margin-left: 20%;
}

.hero-section-tag{
    background: var(--green-color);
    width: 50vw;
    color: white;
    border-radius: 69px;
}

.hero-section-tag h2{
    padding: 2rem 3.5rem;
    margin: 2rem;
}

.hero-section-social{
    max-width: 650px;
    display: flex;
    margin-top: 75px;
    justify-content: right;
}

.hero-section-social img{
    padding: 0.75rem;
}