/*Font imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
/*Global styling*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins",sans-serif;
  background: #FFF7F7;
}

li, a {
  text-decoration: none;
  list-style: none;
}

.button {
  background: #46CD24;
  color: white;
  font-weight: 600;
  padding: 1em 2em;
}

/*Import stylesheets*/
header {
  background: url("../images/hero.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.navbar-section {
  font-size: 1.5rem;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-section .logo {
  text-transform: uppercase;
  font-weight: 800;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2.5rem;
}

.navbar-section .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5em;
  color: black;
}

.navbar-section .navbar-links a {
  color: black;
}

.navbar-section .hamburger {
  display: none;
}

.navbar-section-active {
  background: #46CD24;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.header-content {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
}

.header-content .header-title h1 {
  font-size: 10rem;
  color: #46CD24;
  margin-bottom: -.35em;
}

.header-content .header-title h2 {
  font-size: 8rem;
  font-weight: 600;
  margin-left: 1.5em;
}

.header-content .header-tag {
  margin-right: -5em;
  background: #46CD24;
  font-size: 1.5rem;
  padding: 1.5em;
  color: white;
  border-radius: 75px;
}

.header-content .header-socials {
  color: black;
  font-size: 5rem;
  margin-left: 5em;
}

/*Hamburger Menu*/
@media screen and (max-width: 40em) {
  /*Burger Menu*/
  .burger {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #fff;
    margin: 0.5rem;
    display: block;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .navbar-links a {
    color: #fff;
    text-decoration: underline;
    font-size: 1.5rem;
  }
  .navbar-links {
    z-index: 2;
    background: #46CD24;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
  }
  .nav-open {
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
  }
  .toggle .line1 {
    -webkit-transform: rotateZ(45deg) translateY(300%);
            transform: rotateZ(45deg) translateY(300%);
    background-color: white;
  }
  .toggle .line3 {
    -webkit-transform: rotateZ(-45deg) translateY(-300%);
            transform: rotateZ(-45deg) translateY(-300%);
    background-color: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
}

.overmij-content {
  margin-top: 10em;
}

.title {
  text-align: center;
  margin-bottom: -11.5em;
}

.title h2 {
  font-size: 4rem;
}

.title .tag-line {
  font-size: 2.5rem;
  color: #46CD24;
  font-weight: 600;
  margin-left: 4.7em;
}

.overmij-informatie {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overmij-informatie .overmij-tekst {
  max-width: 800px;
  padding: 1em;
  font-size: 1.3rem;
}

.overmij-informatie .overmij-tekst p {
  margin-bottom: 2em;
}

@media screen and (max-width: 40em) {
  .title {
    text-align: center;
    margin-bottom: 0em;
  }
  .title .tag-line {
    margin-left: 0;
  }
  .overmij-ik {
    display: none;
  }
}

@media screen and (max-width: 40em) {
  html {
    font-size: 60%;
  }
}
/*# sourceMappingURL=style.css.map */