/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/*Global styling*/
$header1: 3.5rem;
$header2: 3rem;
$header3: 2.5rem;
$paragraph: 1.3rem;
$green-color: #46CD24;
$light-pink-color: #FFF7F7;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins",sans-serif;
    background: $light-pink-color;
}

li,a{
    text-decoration: none;
    list-style: none;
}

.button{
    background: $green-color;
    color: white;
    font-weight: 600;
    padding: 1em 2em;
}



/*Import stylesheets*/
@import "header-navbar";
@import "overmij";
@import "skills";
@import "projecten";



@media  screen and (max-width:40em){
    html{
        font-size: 70%;
    }
    .skills-image{
        display: none;
    }
    .skills-information{
        h1{
            display: none;
        }
    }
    .overmij-ik{
        display: none;
    }

    .projecten-cards{
        flex-wrap: wrap;
    }
    .projecten-title{
        h1{
            display: none;
        }
        .projecten-title-text{
            margin: 0;
        }
    }

}