/*Font imports*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
/*Global styling*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #FFF7F7;
}

li, a {
  text-decoration: none;
  list-style: none;
}

.button {
  background: #46CD24;
  color: white;
  font-weight: 600;
  padding: 1em 2em;
}

/*Import stylesheets*/
header {
  background: url("../images/hero.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.navbar-section {
  font-size: 1.5rem;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-section .logo {
  text-transform: uppercase;
  font-weight: 800;
  flex: 1;
  font-size: 2.5rem;
}
.navbar-section .navbar-links {
  display: flex;
  gap: 3.5em;
  color: black;
}
.navbar-section .navbar-links a {
  color: black;
}
.navbar-section .hamburger {
  display: none;
}

.header-content {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.header-content .header-title h1 {
  font-size: 12rem;
  color: #46CD24;
  margin-bottom: -0.35em;
}
.header-content .header-title h2 {
  font-size: 10rem;
  font-weight: 600;
  margin-left: 1.5em;
}
.header-content .header-tag {
  margin-right: -5em;
  background: #46CD24;
  font-size: 1.5rem;
  padding: 1.5em;
  color: white;
  border-radius: 75px;
}
.header-content .header-socials {
  color: black;
  font-size: 5rem;
  margin-left: 5em;
}

.header-title-mobile {
  display: none;
}

.header-title-mobile {
  text-align: center;
  margin-top: 3.5em;
  font-size: 3.5rem;
}
.header-title-mobile h1 {
  color: #46CD24;
}
.header-title-mobile .header-socials-mobile {
  color: white;
}

/*Hamburger Menu*/
@media screen and (max-width: 40em) {
  /*Burger Menu*/
  .burger {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
  }
  .burger span {
    padding: 0.2rem 2rem;
    background: #fff;
    margin: 0.5rem;
    display: block;
    transition: all 0.5s ease;
  }
  .navbar-links a {
    color: #fff;
    text-decoration: underline;
    font-size: 1.5rem;
  }
  .navbar-links {
    z-index: 1;
    background: #46CD24;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: transform 1s ease;
  }
  .nav-open {
    transform: translate(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg) translateY(300%);
    background-color: white;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg) translateY(-300%);
    background-color: white;
  }
  .toggle .line2 {
    opacity: 0;
  }
}
.overmij-content {
  margin-top: 10em;
}

.title {
  text-align: center;
  margin-bottom: -11.5em;
}
.title h2 {
  font-size: 4rem;
}
.title .tag-line {
  font-size: 2.5rem;
  color: #46CD24;
  font-weight: 600;
  margin-left: 4.7em;
}

.overmij-informatie {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overmij-informatie .overmij-tekst {
  max-width: 800px;
  padding: 1em;
  font-size: 1.3rem;
}
.overmij-informatie .overmij-tekst p {
  margin-bottom: 2em;
}

@media screen and (max-width: 40em) {
  .title {
    text-align: center;
    margin-bottom: 0em;
  }
  .title .tag-line {
    margin-left: 0;
  }
  .overmij-ik {
    display: none;
  }
}
@media screen and (max-width: 40em) {
  html {
    font-size: 65%;
  }
  .header-content {
    display: none;
  }
  .header-title-mobile {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */