/*Font imports*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

/*Global styling*/
$header1: 3.5rem;
$header2: 3rem;
$header3: 2.5rem;
$paragraph: 1.3rem;
$green-color: #46CD24;
$light-pink-color: #FFF7F7;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins",sans-serif;
    background: $light-pink-color;
}

li,a{
    text-decoration: none;
    list-style: none;
}

.button{
    background: $green-color;
    color: white;
    font-weight: 600;
    padding: 1em 2em;
}



/*Import stylesheets*/
@import "header-navbar";
@import "overmij";
@import "skills";
@import "projecten";



@media  screen and (max-width:40em){
    html{
        font-size: 70%;
    }
    .skills-image{
        display: none;
    }
    .skills-information{
        h1{
            display: none;
        }
    }
    header{
      height: 75vh;
      background-position: left;
    }
    .overmij-ik{
        display: none;
    }

    .projecten-cards{
        flex-wrap: wrap;
    }
    .projecten-title{
        h1{
            display: none;
        }
        .projecten-title-text{
            margin: 0;
        }
    }
    /*Burger Menu*/
    .burger {
        position: relative;
        z-index: 2;
        display: block;
        cursor: pointer;
      }
    
      .burger span {
        padding: 0.2rem 2rem;
        background: #fff;
        margin: 0.5rem;
        display: block;
        transition: all 0.5s ease;
      }
    
      .navbar-links a {
        color: #fff;
        text-decoration: underline;
        font-size: 1.5rem;
      }
      .navbar-links {
        z-index: 2;
        background: $green-color;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease;
      }
      .nav-open {
        transform: translate(-100%);
      }
    
      .toggle .line1 {
        transform: rotateZ(45deg) translateY(300%);
        background-color: white;
      }
    
      .toggle .line3 {
        transform: rotateZ(-45deg) translateY(-300%);
        background-color: white;
      }
      .toggle .line2 {
        opacity: 0;
      }

}